<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jiachenggu.sentirepro">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"

        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BTdevicelist">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Homepage" />
        <activity android:name=".Settings" />
        <activity
            android:name=".libvibptn"
            android:windowSoftInputMode="stateHidden" />
        //disable the keyboard when active the activity
        <activity
            android:name=".rtvibptn"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".colptn"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ques_info"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".seeq"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".about_us"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".libvibcreate"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".rtvibcreate" />
        <activity android:name=".colcreate" />
        <activity android:name=".ques_vib" />
        <activity android:name=".ques_compare" />
        <activity android:name=".Demo"></activity>
    </application>

</manifest>